<div class="content-wrapper">
    <section class="content">
       
        <div class="col-md-6 offset-md-3" style="opacity: 0.7;">
        
            <div class="box box-primary box-solid" style="margin-top: 120px">
                <div class="box-header with-border">
                    <h3 class="box-title "> <i class="fa fa-sign-in"></i> Sign In </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
            
                    <form class="form-horizontal" action="/session/create" method="POST" role="form">
                
                        <div class="box-body" >
                        <div class="form-group has-feedback">
                            <label for="username" class="col-sm-2 control-label"> email </label>
                            <div class="col-sm-10">
                            <input class="form-control" name="username" id="username" placeholder="email" type="email" required autofocus>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password" class="col-sm-2 control-label"> password </label>
                            <div class="col-sm-10">
                            <input class="form-control" name="password" id="password" placeholder="password" type="password" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        </div>
                        <!-- /.box-body -->
                
                        <div class="box-footer">
                        <!-- <div><a href="#"> <%= __('session.new.forgotPassw') %> </a></div> -->
                        <div><a href="/user/new-user"> Register a new membership </a></div>
                            <button type="submit" class="btn btn-success btn-flat pull-right"> Submit</button>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </div>
                        <!-- /.box-footer -->
                
                    </form>
                </div>
        </div>
    </section>
</div>
        