<div class="container">

    
    <div class="pull-left> &copy; 2018 <a href="https://vcl.iti.gr/" target="_blank">Visual Computing Lab</a>, <a href="http://www.iti.gr/" target="_blank">I.T.I.</a>, <a href="http://www.certh.gr/" target="_blank">CERTH</a> </div>

    <div class="pull-left">  Version  <a href="#"> <%= sails.config.version %> </a> </div>
  
</div>

