<div class="content-wrapper">
    <section class="content">

    <div id="498">
        <div class="container text-center">
          <h1>Sorry, that link is expired, or<br/><span class="mobile-spacer">&nbsp;</span>it has already been used.</h1>
          <hr/>
          <div class="help">
            <p>Need further help accessing your account?<br/><span class="mobile-spacer">&nbsp;</span>Please <a href="/contact">contact support</a> or create a <a href="/user/register">new account.</a></p>
            <a class="btn btn-lg btn-outline-dark" href="/user/register">New account</a>
          </div>
        </div>
    </div>
  </section>
</div>

  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  