
<div class="content-wrapper">

  <section class="content-header offset-md-1">
      <h2> <%= __('about.index.aboutYourData') %> </h2>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li class="breadcrumb-item active"> disclaimer </li>
      </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-10 offset-md-1">
              <p>
              The EasyTV project is an EU funded research project. In order to run the current version of this platform we will collect certain personal data.<br>
              All the data (text,photos,video etc.) submitted currently to the platform are going to be used solely for testing purposes related to the platform's development. <br>
              Aside from the purpose that have been specifically mentioned above, the project will not disclose personal data to third parties.
              </p>

              <p>
            The <b>“General Data Protection Regulation”</b> grants individuals rights with respect to the way their personal data is handled and protected. 
            Individuals may, for example – depending on the legal basis for the processing of their personal data and dependent on the fulfilment of certain conditions – exercise a right to:
              <ul>
    <li>Inquire as to what personal data is processed and, when the data is provided to the project by a third party, inquire into the source of this information.</li>
    <li>Request the correction of data insofar as it is incorrect.</li>
    <li>Object to the processing of his or her data.</li>
    <li>Know of the existence of possible automated decision making processes, and, when these are used to create profiles, inquire into the logic underlying these processes, the purposes they serve, and their consequences.</li>
    <li>‘Be forgotten’ by an institution that has processed their personal data.</li>
        </ul>

        <h2> Use of Personal Information </h2>

        <p>
            We will treat the information we collect as confidential. We will not share Personally Identifiable Information about you without your consent. 
            We may share information collected from your activity in the platform that does not identify you or an individual with EasyTV partners. 
            For example, we may disclose the numbers related to activity of all users interacting with content of a specific broadcaster, or generalized information and aggregated statistics from collected data.
        </p>

        <h2> Use of Cookies </h2>
        <p>
        When you visit the Websites, a cookie may be saved on your computer (if your computer accepts cookies), and if you return to the Websites the cookie may be read. A “cookie,” is a small text file placed on the user’s hard drive to track usage of the Websites and collect basic information, which may include certain of your preferences.
        We use cookies to gain knowledge of Internet usage, improve content and advertisements, collect the site visitation data described above and in some cases to deliver specialized content. Cookies also help to prevent you from having to register or re-enter your information every time you visit the Web Site.
      
        <br><br>
        <b>Login related cookies</b> <br>

      We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.<br><br>

      <!-- /.nav-tabs-custom -->
      </div>
    </div>
  </section>

</div>