<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

<p style="margin-bottom: 25px;">Dear, <%= fullName %>!</p>
<p style="margin-bottom: 25px;">you are now on the testing phase</p>

  <div style="margin-bottom: 25px; ">
    <div style="background-color: rgb(141, 212, 74); display: inline-block; font-size: 1.2em; color: rgb(17, 33, 100); 
                padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;">
                
        <div> <h4>Please note:</h4> <%- en2_text %> </div>
    </div>
  </div>

<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The EasyTV project Team</p>

