<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>!</p>
<p style="margin-bottom: 25px;">Your member role has been changed to 
    <b style="background-color: rgb(56, 196, 0); display: inline-block; font-size: 1.2em; color: #fff; padding: 5px 15px 5px; font-weight: 500; border-radius: 4px;">
    <%= newRole %>
    </b>
 </p>
 <p style="margin-bottom: 25px;">As soon as you login in the platform you should notice new content visibility </p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The EasyTV platform Admin-Team</p>
