<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

<p style="margin-bottom: 25px;"> Dear, <%= fullName %>!</p>
<p style="margin-bottom: 25px;"> Unfortunately your profile is currently blocked by <%= orgName %> </p>
<p style="margin-bottom: 25px;"> Please be informed about the reason </p>

  <div style="margin-bottom: 25px; text-align: center;">
    <div style="background-color: rgb(246, 82, 60); display: inline-block; font-size: 1.1em; color: rgb(139, 89, 89); 
                padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;">
                
        <div> <h5>Block's Reason:</h5> <%= reason %> </div>
    </div>
  </div>

<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The EasyTV platform Admin-Team</p>

