
<div class="content-wrapper">
  <section class="content-header">
          <h1> Suggest a new translation</h1>
          <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
              <li class="breadcrumb-item"> <a href="/video-annotation/new-pair-info"> A new translation pair</a></li>
          </ol>
  </section>

  <section class="content">
      <div class="container-fluid">
          <form action="/video-annotation/new-pair" method="POST" role="form">
            <div class="col-md-10 offset-md-1">
              <div class="row">
                      <div class="col-md-6 card" style="background: aliceblue; height:350px">
                          <div class="card-header border-transparent" style="background-color: #3270daba">
                              <h3 class="card-title"> <b>Video #1</b> </h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                              <div class="row" style="margin: auto;">
                                  <label for="userOrganisation"> Choose Language of first video:</label> 
                                  <select class="btn post-button" name="lang1" id="lang1" style="background: #578fca7d;" required onChange="langChanged('1')">
                                    <option class="placeholder" selected value="en"> English </option> 
                                    <% _.each(translLangs, function(lang) { %>
                                        <option value="<%= lang[1] %>"> <%= lang[0] %>
                                        </option>
                                      <% }); %>
                                  </select>

                                  <div class="form-group col-md-10">
                                      <h5>Concept #1:</b> </h5>
                                      <div class="console-container">
                                        <input type="concept1" class="form-control targetConsole" style="padding: 5px;" placeholder="please describe" name="concept1" required>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  
                      <div class="col-md-6 card" style="background: aliceblue; height:350px" >
                          <div class="card-header border-transparent" style="background-color: #699ffdba">
                              <h3 class="card-title"> <b>Video #2 </b> </h3>
                          </div>
                          <div class="card-body">
                              <div class="row" style="margin: auto;">
                                <label for="userOrganisation"> Choose Language of second video:</label>
                                <select class="btn post-button" name="lang2" id="lang2" style="background: #578fca7d;" required onChange="langChanged('2')">
                                  <option class="placeholder" selected value="en"> English </option> 
                                  <% _.each(translLangs, function(lang) { %>
                                      <option value="<%= lang[1] %>"> <%= lang[0] %>
                                      </option>
                                    <% }); %>
                                </select>

                                  <div class="form-group col-md-10">
                                      <h5>Concept #2: </h5>
                                      <div class="console-container">
                                        <input type="concept2" class="form-control targetConsole" style="padding: 5px;" placeholder="please describe" name="concept2" required>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
              <input type="submit" class="btn centerButton btn-sm btn-success pull-left" style="background-color:green;width: 25%;margin-left: 37%;font-weight: 500;" value="SUBMIT" />
          </div>
        </form>
      </div>
  </section>
</div>

<script>
  function langChanged(num) {
    console.log( $("#lang"+num).val() );
  }

</script>

<!-- load extra .css assets only for this view-app -->
<% block('localScripts', '<link href="/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">') %>

<% block('localScripts', '<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">') %>
<% block('localScripts', '<link href="/plugins/video-annotation-app/transl-style.css" rel="stylesheet" type="text/css">') %>
<% block('localScripts', '<link href="https://vjs.zencdn.net/6.2.0/video-js.min.css" rel="stylesheet" type="text/css">') %>
<% block('localScripts', '<link href="/plugins/video-annotation-app/assets/videojs_skin.css" rel="stylesheet" type="text/css">') %>
<% block('localScripts', '<link href="/plugins/video-annotation-app/build/css/annotations.css" rel="stylesheet" type="text/css">') %>

<!-- load extra .js assets only for this view-app -->
<% block('localScripts', '<script src="/plugins/sweetalert/sweetalert2.min.js"></script>') %>
<% block('localScripts', '<script src="/plugins/sweetalert/main.js"></script>') %>

<!-- some extra .js assets only for the video-annotation app -->
<% block('localScripts', '<script src="https://vjs.zencdn.net/6.2.0/video.min.js"></script>') %>
<% block('localScripts', '<script src="/plugins/video-annotation-app/build/videojs-annotation-comments.min.js"></script>') %>


