
<div class="content-wrapper">

    <section class="content-header">
            <h1> Suggested translation</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li class="breadcrumb-item"> Suggested translation</a></li>
            </ol>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="col-md-10 offset-md-1">
            <div class="row">
                    <div class="col-md-5 card" style="background: aliceblue;">
                        <div class="card-header border-transparent" style="background-color: #3270daba">
                            <h3 class="card-title"> <b>Input Video </b> </h3>
                            <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                                <div class="row" style="margin: auto;">
                                    <div class="col-md-10">
                                         <video controls preload="auto" width="90%"  style="max-height:212px" >
                                            <source src="<%= videoInput.videoURL %>" type='video/mp4'>
                                         </video>
                                          <div class="info-box">
                                            <div class="info-box-content">
                                              <span class="info-box-text"> Language: <b> <%= videoInput.lang %> </b></span> <br>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="clearfix hidden-md-up"></div>
                                </div>
                        </div>
                    </div>
                
                    <div class="col-md-5 offset-md-1 card" style="background: aliceblue;">
                        <div class="card-header border-transparent" style="background-color: #3270daba">
                            <h3 class="card-title"> <b>Suggested Translation </b> </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                                <div class="row" style="margin: auto;">
                                    <div class="col-md-10">
                                         <video controls preload="auto" width="90%" style="max-height:212px" >
                                            <source src="<%= videoTransl.videoURL %>" type='video/mp4'>
                                         </video>
                                          <div class="info-box">
                                            <div class="info-box-content">
                                              <span class="info-box-text"> Language: <b> <%= videoTransl.lang %> </b></span> <br>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="clearfix hidden-md-up"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- load extra .css assets only for this view-app -->
<% block('localScripts', '<link href="/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">') %>

<!-- load extra .js assets only for this view-app -->
<% block('localScripts', '<script src="/plugins/sweetalert/sweetalert2.min.js"></script>') %>
<% block('localScripts', '<script src="/plugins/sweetalert/main.js"></script>') %>
